<template name = "about">
<h3>About</h3>
This application is for use in cadet corps to manage the awarding of Cock of the Walk points to divisions.

<h4>Users</h4>
You must have an account and be signed in to award points. Accounts must be set up by an admin user. You will only see the divisions attached to your corps. Selecting a division will highlight that row and you can then click the green button to award points or the red button to take away points.

<hr>

<h4>Admin Users</h4>
<h5>Managing Divisions</h5>
When signed in as an admin user you will see a link to the admin page in the navbar. Open this link to view the admin dashboard.
On the dashboard you can edit or add new divisions to the application. Use the menu on the left to open the divisions collection and select 'New'.
Add the name of the division, score of 0 and the corps the division is attached to. Only users that belong to this corps will see or be able to add points to this division.

<h5>Managing Users</h5>
To add a new user, use the menu on the left open the users collection and select 'New'. Enter the email address of the user.
Click 'View all' and the user will now be listed. Use the blue edit button to edit the user and add them to a corps.

<hr>
</template>
