<template name="register">

    <form class="form-signup">
      <h2 class="form-signup-heading">Register</h2>
      <label for="first_name" class="sr-only">First Name</label>
      <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" autofocus>
      <label for="last_name" class="sr-only">Last Name</label>
      <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" autofocus>
      <label for="corps" class="sr-only">Corps</label>
      <select class="form-control" id="corps" placeholder="Corps">
          <option>Corps:</option>
          <option>MJ Miller</option>
          <option>Test</option>
        </select>
      <label for="Email" class="sr-only">Email address</label>
      <input type="text" id="Email" name="email" class="form-control" placeholder="Email Address"  autofocus>
      <label for="Password" class="sr-only">Password</label>
      <input type="password" id="Password" name="password" class="form-control" placeholder="Password" >
      <label for="Password2" class="sr-only">Confirm Password</label>
      <input type="password" id="Password2" name="password2" class="form-control" placeholder="Confirm Password">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>

      <br>
      <p> Already Regisered? <a href="/">Log In</a></p>
    </form>


</template>
