

.form-signin, .form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center
}

.form-signin input[type="email"], .form-signup input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"], .form-signup input[type="password"], .form-signup input[type="text"]  {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signup select    {
  margin-bottom: 10px;

}
